airflow/*
!airflow/dags

__pycache__/
stocks.sqlite
venv
.idea
airflow/dags/visualisation/*
!airflow/dags/visualisation/.gitkeep
airflow/dags/file_exchange_data/*
!airflow/dags/file_exchange_data/.gitkeep
Taskfile.yml
